# packer stuff
packer/*.box
packer/packer_cache
packer/iso/*.iso
packer/output-virtualbox-iso/

# cloned repos to be used in VM
/judge-pics
# extra stuff
/extra/*.git
/extra/*.tar.gz
/extra/*.tar.bz2
/extra/*.tgz
/extra/*.key
/extra/logs
/extra/repo

# vagrant stuff
/.vagrant
flp/courtlistener
flp/juriscraper
!flp/README.md
courtlistener/
!ansible/roles/courtlistener
.DS_Store

/ubuntu-xenial-16.04-cloudimg-console.log
/ubuntu-bionic-18.04-cloudimg-console.log
