# packer stuff
packer/*.box
packer/packer_cache
packer/iso/*.iso
packer/output-virtualbox-iso/

# cloned repos to be used in VM
/judge-pics
# extra stuff
/extra/*.git
/extra/*.tar.gz
/extra/*.tar.bz2
/extra/*.tgz

# vagrant stuff
/.vagrant
flp/courtlistener
flp/juriscraper
!flp/README.md
courtlistener/
!ansible/roles/courtlistener
.DS_Store

